@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

:root {
    --color-main: #ffffff;
    --scissors-gradient: #ec9e0e, #eca922;
    --paper-gradient: #4865f4, #5671f5;
    --rock-gradient: #dc2e4e, #dd405d;
    --cyan: #40b9ce, #52bed1;
    --dark-text: #3b4363;
    --score-text: #2a46c0;
    --header-outline: #606e85;
    --radial-gradient: #1f3756, #141539;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: radial-gradient(at top, var(--radial-gradient));
    min-height: 100vh;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.header,
.main {
    max-width: 600px;
    margin: 50px auto;
}

.header {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 0 2px var(--header-outline);
    border-radius: 10px;
}

.header__logo {
    width: 180px;
    padding: 20px;
}

.header__image {
    width: 100%;
}

.score {
    background-color: var(--color-main);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    border-radius: 8px;
    margin: 15px;
}

.score__text {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    color: var(--score-text);
    font-weight: 600;
}

.score__number {
    font-size: 52px;
    font-weight: 700;
    color: var(--dark-text);
}

.main {
    margin-top: 200px;
}

.game__start {
    aspect-ratio: 313 / 278;
    background-image: url('../images/bg-triangle.svg');
    background-size: cover;
    width: 50%;
    margin: 0 auto;
    position: relative;
}

.game__start .btn {
    position: absolute;
    width: 50%;
}

.btn {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    aspect-ratio: 1/1;
    cursor: pointer;
}

.btn img {
    width: 50%;
}

.btn__image-container {
    background: var(--color-main);
    border-radius: 50%;
    height: 80%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn--paper {
    background: linear-gradient(var(--paper-gradient));
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
}

.btn--scissors {
    background: linear-gradient(var(--scissors-gradient));
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
}

.btn--rock {
    background: linear-gradient(var(--rock-gradient));
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.rules-btn {
    border: 2px solid var(--header-outline);
    border-radius: 8px;
    background-color: transparent;
    position: absolute;
    bottom: 20%;
    right: 20%;
    font-size: 15px;
    text-transform: uppercase;
    color: var(--color-main);
    cursor: pointer;
    padding: 10px 30px;
    transition: all 0.2s linear;
}

.rules-btn:hover {
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    border-color: var(--score-text);
}

.rules,
.overlay {
    display: none;
}

.rules.active {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 350px;
    height: 400px;
    background-color: var(--color-main);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 25px 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px var(--header-outline);
    z-index: 1;
}

.rules__heading {
    font-size: 28px;
    text-transform: uppercase;
    color: var(--dark-text);
}

.rules-btn--close {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.overlay.active {
    display: block;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    pointer-events: all;
}