/* //PRIMARY
$scissorsGradient: #ec9e0e, #eca922;
$paperGradient: #4865f4, #5671f5;
$rockGradient: #dc2e4e, #dd405d;
$lizardGradient: #834fe3, #8c5de5;
$cyan: #40b9ce, #52bed1;

//NEUTRAL
$darkText: #3b4363;
$scoreText: #2a46c0;
$headerOutline: #606e85;

//BACKGROUND
$radialGradient: #1f3756, #141539; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: radial-gradient(at top, --var(radialGradient));
    min-height: 100vh;
    min-width: 100vw;
}